body,
html {
    font-family: 'Ubuntu', serif;
    letter-spacing: 0.5px;
}


body {
    position: absolute;
    width: 100%;
    padding-bottom: 248px;
    min-height: 100%;
}

.navigation-conatainer ul {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#toaster {
    position: fixed;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 999;
    background: #0000007a;
    color: #fff;
    padding: 5px;
}

#toaster.success {
    background-color: green;
}

#toaster.error {
    background-color: red;
}

.offer-banner-inner:nth-child(odd) .offer-banner:before {
    transform: translateX(-50%);
}

.navigation-conatainer {
    background: #7f1a1a;
}

.navigation-conatainer ul li {
    display: inline-block;
    padding: 10px 15px;
}

header .logo {
    padding: 15px;
    width: 100%;
}


header .logo img {
    width: 100%;
}

.social-media>ul {
    padding: 0;
    margin: 10px 0 20px 0px;
    text-align: right;
}

.social-media>ul>li {
    display: inline-block;
}

.right-box-header {
    align-self: flex-end;
    margin-bottom: 0;
    padding: 10px 0 10px 0;
}

li.top-login-btn>a {
    background: none !important;
    color: white !important;
    padding: 0px 6px 0px 19px !important;
    height: auto !important;
    text-transform: uppercase;
    border-left: thin solid #ddd !important;
    margin-left: 15px;
    border-radius: 0 !important;
}

li.top-login-btn a i {
    font-size: 18px;
    position: relative;
    left: -3px;
    margin-right: 3px;
}

li.top-login-btn>a {
    width: auto !important;
}

li.top-login-btn a i {
    position: relative;
    left: -3px;
}

li.top-header-cart a:before {
    content: "\f290";
    font-family: fontawesome;
}

li.top-header-cart a span {
    position: absolute;
    top: -19px;
    background: #e8ba23;
    line-height: 26px;
    height: 25px;
    color: #fff;
    min-width: 25px;
    padding: 0 9px;
    border-radius: 40px;
    left: 13px;
}

li.top-header-cart a {
    position: relative;
}

.social-media>ul>li>a,
.social-media>ul>li>button,
li.top-login-btn.logout span i {
    height: 30px;
    width: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    border: none;
    font-size: 13px;
    background: #ffffff;
    line-height: 30px;
    color: #8a1113;
    padding: 0;
    outline: none;
}

.dropdown-login {
    position: absolute;
    z-index: 2;
    list-style: none;
    width: 189px;
    transition: all 0.5s;
    padding: 2px 0 0 0px;
    opacity: 0;
    right: 50px;
    visibility: hidden;
}

li.top-login-btn.logout span {
    font-size: 13px;
    position: relative;
    cursor: pointer;
    /* margin-left: 10px; */
    text-align: left;
    /* padding: 0px 0px 0px 11px; */
    /* border-left: thin solid #ddd; */
    display: inline-block;
    /* font-weight: 600; */
}

.top-login-btn.logout:hover>.username-login+.dropdown-login {
    opacity: 1;
    visibility: visible;
}

.dropdown-login li a,
.dropdown-login li button {
    font-size: 12px;
    background: none;
    border: none;
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
    padding: 5px 0 3px 0 !important;
    margin: 0;
    text-decoration: none;
    color: #7f1a1a;
}

.design-count {
    display: inline-block;
    padding-right: 20px;
    font-size: 14px;
    font-style: italic;
}

li.search-container {
    position: relative;
}

li.search-container button {
    position: absolute;
    right: 0;
    top: 0;
}

li.top-login-btn.logout span strong {
    width: 100%;
    display: inline-block;
}

ul.dropdown_parent {
    list-style: none;
    background: #fff8e1;
    padding: 14px 10px 17px 25px;
    margin-top: 12px;
    text-align: left;
    box-shadow: 5px 5px 2px 0px #00000061;
    border-radius: 0px 0px 5px 5px;
}

li.top-login-btn.logout {
    position: relative;
    cursor: pointer;
    /* top: 6px; */
    margin-left: 8px;
}

ul.dropdown_parent:before {
    content: "\f0d8";
    font-family: fontawesome;
    position: absolute;
    top: -11px;
    font-size: 25px;
    color: #7f1a1a;
    left: 25%;
}

li.search-container input {
    border: none;
    background: #ffffff;
    height: 30px;
    padding: 0 35px 0 15px;
    font-size: 13px;
    border-radius: 50px;
    outline: none;
}

.navigation-conatainer {
    background: #fbe995;
    border-bottom: 2px solid #c79a30;
}

.navigation-conatainer ul li {
    font-family: 'Cinzel', serif;
    font-weight: 900;
    display: inline-block;
    padding: 0;
}

.navigation-conatainer ul li a:before {
    content: "";
    left: -100%;
    top: 100%;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
    transform: rotate(45deg);
    background: #6e0002;
    position: absolute;
    opacity: 0.8;

}

.navigation-conatainer ul li a:hover:before {
    top: -100%;
    opacity: 0;
    left: 100%;
    transition: ease-out 0.5s;
}

.navigation-conatainer ul li:first-child a {
    font-size: 27px;
    line-height: 0;
    padding: 5px 0 0px 15px;
}

.navigation-conatainer ul li a {
    color: #6d0002;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 15px;
    padding: 11px 15px 5px 15px;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

li.top-login-btn.logout>span>i {
    /* top: -7px; */
    position: relative;
    margin: 0 5px 0 10px;
    padding: 0 0 0 0px;
}

li.top-login-btn.logout span:nth-child(2) {
    position: relative;
    top: 8px;
}

li.top-login-btn.logout span:first-child {
    padding-left: 0;
    border-left: thin solid #ddd;
    width: 50px;
}

.example-2 {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.example-2 ul {
    overflow: hidden;
    margin: 0;
    zoom: 1;
    padding: 0;
}

.example-2 ul li {
    float: left;
}

.example-2 ul li img {
    width: 100%;
}

.dots-2 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 300px;
    margin: 0 0 0 -150px;
    padding: 0;
    text-align: center;
}

.dots-2 li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.dots-2 li:hover,
.dots-2 li.active {
    background: #944040;
    border: 3px solid #fff;
}

.logo-container {
    padding: 0px 15px;
    background-color: #780002;
    background-image: linear-gradient(#450102, #780002, #450102);
}

.offer-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
}

.offer-banner img {
    max-width: 70%;
    z-index: 1;
    position: relative;
}

.offer-banner {
    text-align: center;
    padding: 30px;
}

.offer-banner:before {
    content: "";
    width: 80%;
    height: 65%;
    position: absolute;
    background: #f3f3f3c7;
    left: 50%;
    border: thin solid #94404000;
    top: 0%;
    z-index: 1;
    transition: all 0.5s;
    transform: translateX(-50%);
    box-shadow: 0px 0px 0px 0px #f9f9f9;
}

.offer-banner-container {
    padding: 50px 15px 15px 15px;
    background-image: url("../images/offerpage-background.jpg");
    /* background-attachment: fixed; */
}

.offer-banner-inner:nth-child(odd) .row {
    display: flex;
    flex-direction: row-reverse;
}

span.testimonial-avtar {
    height: 80px;
    text-align: center;
    display: block;
    border-radius: 70px;
    border: none;
    position: relative;
    top: 40px;
    font-size: 13px;
    background: #ddd;
    line-height: 30px;
    padding: 10px;
    border: 6px solid #fff9ec;
    outline: none;
    overflow: hidden;
    width: 80px;
    margin: 0 auto 10px auto;
}

span.testimonial-avtar img {
    display: block !important;
    margin: 0 auto;
}

span.testimonial-avtar img {
    /* width: -webkit-fill-available; */
    /* background: red; */
}

.offer-content button {
    padding: 4px 26px;
    border-radius: 40px;
    border: none;
    background: #7f1a1a;
    color: #fff;
    margin-top: 10px;
}

.offer-content h2 {
    margin-bottom: 18px;
}

.container-fluid.testimonial-container {
    background-color: #ffffff70;
    padding: 50px 0 10px 0;
    background-image: url('../images/testimonial-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% center;
}

.testimonial-container .flexslider.carousel {
    background: none;
    border: none;
}

.offer-banner-inner:hover .offer-banner:before {
    background: #fff6f699;
    box-shadow: -20px -20px 0px 0px #7171710a;
    border: thin solid #94404024;
}

.flexslider .slides img {
    width: 100%;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.offer-banner-inner {
    padding: 0px 0;
}

.testimoniMsg {
    text-align: left;
    padding: 40px 25px 40px 25px;
    background: #fff9ec;
    font-size: 14px;
}

.testimonial-outer {
    padding: 0 10px;
}


ul.flex-direction-nav {
    line-height: 1;
}

li.flex-nav-prev {
    right: 80px !important;
}

span.client-address-name {
    display: block;
    width: 100%;
    text-align: right;
    position: relative;
    top: 26px;
    font-size: 13px;
    font-style: italic;
}

.testimonial-container .flex-control-paging li a {
    background: #fff;
}

.testimonial-container .flex-control-paging li a.flex-active {
    background: #944040;
    border: 3px solid #fff;
    /* position: relative; */
}

footer.container-fluid .left-footer-links ul li {
    display: inline-block;
    margin: 0 10px;
}

footer.container-fluid .left-footer-links ul {
    margin: 0;
    padding: 10px 0;
}

footer.container-fluid .left-footer-links ul li a {
    font-size: 13px;
    color: #fff;
}

footer.container-fluid .left-footer-links ul li:after {
    content: "|";
    position: relative;
    left: 12px;
    color: #00000029;
}

footer.container-fluid {
    /* background: #272727; */
    background-image: url("../images/footer-bg.jpg");
    border-top: 5px solid #7f1a1a;
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    right: 0;
    left: 0;
}

footer.container-fluid .left-footer-links ul li:last-child:after {
    content: "";
}

footer.container-fluid .right-footer-links span {
    font-size: 14px;
    padding: 11px 0px;
    display: inline-block;
    color: #fff;
}

footer.container-fluid .right-footer-links span a {
    color: #fff;
}

.footer-links ul {
    padding: 25px 0;
    margin: 0;
}

.footer-links ul li {
    list-style: none;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
}

.footer-links ul li a {
    color: #fff;
}

li.social-media-links-footer {
    float: right !important;
}

.container.footer-links .col-12 li {
    float: left;
}

li.social-media-links-footer span {
    margin: 0 6px;
}

ul.col-lg-3.new-letter-container h2 {
    font-size: 22px;
    color: #fff;
    margin-bottom: 10px;
}

ul.col-lg-3.new-letter-container {
    padding: 28px 10px;
}

.new-letter input {
    width: 100%;
    padding: 5px 81px 5px 10px;
    font-size: 14px;
}

.new-letter button {
    margin: 0px 0 0 auto;
    display: block;
    background: #7e2429;
    border: none;
    padding: 8px 15px;
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
}

.new-letter {
    position: relative;
    padding-top: 0px;
    margin-top: 20px;
}

.footer-links ul.col-lg-5 {
    padding: 25px 10px;
}

/* listing pagse */

.bannerCont .data {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    color: #fff;
    text-align: center;
    transform: translateY(-50%);
    background: #00000087;
    padding: 50px 0;
}

.bannerCont {
    position: relative;
    height: 400px;
    overflow: hidden;
    /* margin-bottom: 60px; */
}

.listing-container .container {
    background: #fff;
    padding: 30px 15px;
}


.listing-container,
.details-container,
.errorpage-container,
.cart-container {
    background-image: url(../images/offerpage-background.jpg);

}

.listing-image-box img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    width: auto !important;
    height: auto !important;
}

li.top-login-btn.logout button {
    width: auto;
    padding: 0 12px;
}

.product_form {
    position: relative;
    /* border-left: thin solid #e4e4e4; */
    text-align: center;
}

.listing-image-box {
    list-style: none;
    height: 245px;
    margin-bottom: 10px;
    position: relative;
    border: thin solid #ececec;
}

.product-listings li {
    list-style: none;
    padding: 15px;
    /* background: #e2e2e2; */
    border-left: none;
}

.product-listings ul {
    padding: 0;
    margin: 0;
}

.product_form h4 {
    font-size: 13px;
    padding: 0 15px;
    color: #ddd;
    line-height: 22px;
    text-transform: uppercase;
}

.product-listings li:nth-child(3n+1) {
    border: none;
}

.product-listing-buttons button {
    height: 40px;
    width: 40px;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    background: #7f1a1a;
    line-height: 30px;
    color: #f9f9f9;
    padding: 0;
    outline: none;
}

.product-listing-buttons {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
}

ul.filters-container-box>li {
    list-style: none;
    padding: 6px 10px;
    text-transform: uppercase;
    background: #f9f9f9;
    margin-bottom: 9px;
    border-bottom: 2px solid #e0e0e0;
    font-size: 14px;
    color: #7f1a1a;
}

ul.filters-container-box {
    padding: 0;
}

ul.filters-container-box ul {
    padding: 3px 12px 16px 12px;
}

ul.filters-container-box li {
    list-style: none;
    position: relative;
}

ul.filters-container-box ul input[type="checkbox"],
ul.filters-container-box ul input[type="radio"] {
    margin: 4px;
    visibility: hidden;
}

ul.filters-container-box ul input[type="checkbox"]:before,
ul.filters-container-box ul input[type="radio"]:before {
    content: "";
    height: 18px;
    width: 18px;
    background: #ffffff;
    border: 2px solid #e4e2e2;
    position: absolute;
    /* opacity: 1; */
    transition: all 0.5s;
    visibility: visible;
    left: 0;
    top: 4px;
}

.product_form h4 a {
    color: #d2a71f;
    font-weight: 600;
}

.product-listing-buttons button:hover {
    background: #d4af37;
}

.product-listing-buttons button:hover i:before {
    transform: rotateY(180deg) translate(-50%, -50%);
}

.product-listing-buttons button i:before {
    transition: all 0.5s;
    transform: rotateY(0deg) translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
}

ul.filters-container-box ul li {
    font-size: 13px;
}

ul.filters-container-box ul li label {
    cursor: pointer;
}

ul.filters-container-box ul input[type="checkbox"]:checked:after,
ul.filters-container-box ul input[type="checkbox"]:hover:after,
ul.filters-container-box ul input[type="radio"]:checked:after,
ul.filters-container-box ul input[type="radio"]:hover:after {
    transform: scale(1);
}

ul.filters-container-box ul input[type="checkbox"]:after,
ul.filters-container-box ul input[type="radio"]:after {
    content: "\f00c";
    transform: scale(0);
    transition: all 0.2s;
    font-family: fontawesome;
    position: absolute;
    left: 4px;
    top: 6px;
    color: #7f1a1a;
    z-index: 1;
    visibility: visible;
    font-size: 11px;
}

.sort-by-list select {
    height: 33px;
    padding: 0 10px;
    -webkit-appearance: none;
    margin-left: 7px;
    color: #8e8e8e;
    font-size: 11px;
    border: thin solid #ddd;
    text-transform: uppercase;
}

.sort-by-list {
    font-size: 13px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.sort-by-list:before {
    z-index: 1;
    content: "\f107";
    font-size: 16px;
    position: absolute;
    opacity: 1;
    visibility: visible;
    display: block;
    height: 10px;
    right: -1px;
    color: #8e8e8e;
    -webkit-appearance: listbox;
    font-family: fontawesome;
    top: 5px;
    width: 20px;
}

ul.pagination.listing-page-pagination {
    text-align: center;
    display: block;
}

ul.pagination.listing-page-pagination li {
    display: inline-block;
}

ul.pagination.listing-page-pagination li a {
    height: 35px;
    line-height: 34px;
    text-align: center;
    display: inline-block;
    color: #7b7b7b;
    background: #f9f9f9;
    transition: all 0.5s;
    text-decoration: none;
    border: thin solid #ddd;
    padding: 0px 13px;
    border-radius: 100px;
    font-size: 14px;
}

ul.pagination.listing-page-pagination li a:hover,
ul.pagination.listing-page-pagination li.active a {
    background: #7f1a1a;
    border: thin solid #7f1a1a;
    color: #fff;
}

ul.pagination.listing-page-pagination li.active a {
    pointer-events: none;
}

ul.pagination.listing-page-pagination li.active {
    cursor: no-drop;
}

.listing-filter-body {
    border-top: thin solid #f1f1f1;
    margin-top: 5px;
    padding: 16px 0 0 15px;
}

h3.filter-design-title {
    font-size: 18px;
    text-transform: uppercase;
    padding: 6px 0px;
    color: #7f1a1a;
    letter-spacing: 1px;
}

h3.filter-design-title i {
    color: #d0d0d0;
}

ul.filters-container-box ul input[type="checkbox"]:checked:before,
ul.filters-container-box ul input[type="radio"]:checked:before {
    border: 2px solid #7f1a1a;
}

span.stock-available {
    font-size: 12px;
    text-transform: uppercase;
    color: green;
    font-weight: 600;
    margin-top: -2px;
    display: block;
    margin-bottom: 4px;
}

span.offer-price {
    text-decoration: line-through;
    margin-right: 6px;
    font-weight: 500;
    color: #9a9a9a;
    font-size: 14px;
}

span.price-listing {
    font-size: 18px;
    color: #7f1a1a;
    font-weight: 500;
}

.product-listing-buttons button {
    position: relative;
    transition: all 0.2s;
    opacity: 0;
}

.product_form {
    overflow: hidden;
}

.product_form img {
    opacity: 1;
    transition: all 0.5s;
}

.product_form:hover img {
    opacity: 0.2;
}

.product_form:hover .product-listing-buttons button {
    opacity: 1;
}


.product-listing-buttons button:nth-child(2) {
    left: -50px;
}

.product-listing-buttons button:nth-child(3) {
    top: -50px;
}

.product-listing-buttons button:nth-child(4) {
    bottom: -50px;
}

.product-listing-buttons button:nth-child(5) {
    right: -50px;
}

span.no-stock {
    color: red;
}

.product_form:hover .product-listing-buttons button:nth-child(2) {
    left: 0;
}

.product_form:hover .product-listing-buttons button:nth-child(3) {
    top: 0;
}

.product_form:hover .product-listing-buttons button:nth-child(4) {
    bottom: 0;
}

.product_form:hover .product-listing-buttons button:nth-child(5) {
    right: 0;
}



/* Loader */

#loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #ffffffcc;
    display: none;
    background-image: url(../images/giphy.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100px;
}

/* End Loader */

/* Details Page */


.details-container {
    padding: 40px 0;
}

.product-quantity input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    cursor: pointer;
}


.product-quantity input {
    padding: 4px 3px 4px 5px;
    width: 65px;
    text-align: center;
}

.product_details h1 {
    font-size: 25px;
    line-height: 33px;
}

.product_details section {
    padding: 8px 0 8px 0;
}

span.size-listed select {
    height: 33px;
    padding: 0 10px;
    -webkit-appearance: none;
    color: #8e8e8e;
    font-size: 11px;
    width: 130px;
    border: thin solid #ddd;
    text-transform: uppercase;
}

span.size-listed:before {
    z-index: 1;
    content: "\f107";
    font-size: 16px;
    position: absolute;
    opacity: 1;
    pointer-events: none;
    visibility: visible;
    display: block;
    height: 10px;
    right: -1px;
    color: #8e8e8e;
    -webkit-appearance: listbox;
    font-family: fontawesome;
    top: 5px;
    width: 20px;
}

span.size-listed {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.size-not-listed a {
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 10px;
    color: #7f1a1a;
    font-weight: 600;
}

.size-listed {
    font-size: 17px;
}

section.product-buttons {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.produnt-details-btn {
    background: #f1f1f1;
    border-bottom: 2px solid #7f1a1a;
    color: #7f1a1a;
    border: none;
    padding: 10px 25px;
    font-weight: 600;
    border-radius: 4px;
    border-bottom: 3px solid #7f1a1a;
}

.produnt-details-btn i {
    position: relative;
    left: -7px;
}

span.in-strock {
    font-size: 13px;
    text-transform: uppercase;
    left: 6px;
    position: relative;
    top: -2px;
    color: #9a9a9a;
    font-weight: 500;
    font-style: italic;
}

span.qty-select input {
    -webkit-appearance: none;
    color: #8e8e8e;
    font-size: 14px;
    width: 60px;
    border: thin solid #ddd;
    text-transform: uppercase;
    margin-left: 5px;
}

span.qty-select {
    font-size: 16px;
    color: #6f6f6f;
}

ul.product-specs {
    padding: 0;
    list-style: none;
    font-size: 15px;
    height: 250px;
    overflow: auto;
}

ul.product-specs li {
    padding: 4px 0px;
    width: 100%;
    font-size: 14px;
}

section.tags a {
    font-size: 12px;
    color: #1f1f1f;
    display: inline-block;
    margin: 0 0 2px 0;
    border-radius: 13px;
    text-transform: uppercase;
}

section.produnt-spects-container h2 {
    font-size: 17px;
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: 600;
    color: #7f1a1a;
    border-bottom: thin solid #ddd;
    padding-bottom: 10px;
}

ul.product-specs li span {
    text-transform: uppercase;
    font-size: 14px;
    width: 55%;
    display: inline-block;
}

section.produnt-spects-container {
    padding: 10px 16px;
}

span.related-pro a img {
    width: 100%;
}

.flexslider1 a.flex-next,
.flexslider1 .flex-prev {
    margin-top: 0;
}

.flexslider1 .flex-direction-nav a:before,
.flexslider1 .flex-direction-nav a:after {
    color: #7f1a1a;
}

.flexslider1 .flex-control-paging li a {
    background: #e2e2e2;
}

.flexslider1 .flex-control-paging li a.flex-active {
    background: #7f1a1a;
}

.flexslider1 span.related-pro a img {
    padding: 7px;
    border: thin solid #ddd;
}

/*End Details Page */


/*404 error Page */

.errorpage-container {
    text-align: center;
    padding: 50px 0;
    width: 40%;
    margin: 0 auto;
}

.errorpage-container h2 {
    font-size: 70px;
    margin-bottom: 30px;
}

.errorpage-container a {
    display: block;
    margin: 15px auto;
    width: fit-content;
    background: #7f1a1a;
    padding: 8px 20px;
    color: #fff;
}

.errorpage-container p {
    padding: 15px 0;
}

/*End 404 error Page */


/*Login Page */
form#login_form {
    background: #101010e3;
    padding: 40px 40px 20px 40px;
    box-shadow: 7px 7px 0px 0px #0005;
    border-bottom: 5px solid #d4af37;
    border-radius: 4px;
}

#loginContainer {
    background-image: url('../images/login-bg.jpg');
    background-size: 100%;
}

p.not-member {
    margin: 20px 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

p.not-member a {
    color: #d4af37;
}

#loginContainer .col-lg-3 {
    margin: 0 auto;
    padding: 10% 0;
}

.login_form button.btn.btn-primary {
    margin: 0 auto;
    float: none;
    display: block;
}

#login_form label {
    color: #ffffff !important;
    font-size: 13px;
    text-transform: uppercase;
}

form#login_form input {
    border: none;
    padding: 6px 10px !important;
    height: auto;
    border-radius: 0;
    background-color: #fff;
    font-size: 14px;
    /* border: thin solid #ddd; */
    margin-bottom: 25px;
}

form#login_form .btn.btn-primary {
    display: block !important;
    margin: 30px auto 0 auto;
    padding: 9px 30px;
    border-radius: 0;
    background: #d4af37;
    color: #fff;
    font-weight: 500;
    border: none;
    text-transform: uppercase;
    border-bottom: 3px solid #4a0b0b;
    font-size: 13px;
}

/*End Login Page */
#checkout,
.wishlist,
#cart,
#order,
#my_account,
#change_password {
    padding: 40px 0;
}


.checkout_container {
    background: whitesmoke;
    padding: 16px 26px 15px 26px;
}

.tab {
    background: white;
}

.tab .tab_heading {
    padding: 13px 0 14px 26px;
    border-radius: 4px 4px 0 0;
    margin-top: 9px;
}

.tab .active {
    background: #620002;
    color: white;
}

.tab .disactive {
    background: #ececec;
    color: #620002;
}

.tab_heading h5 {
    font-size: 1.15rem;
}

.tab_body {
    padding: 24px 38px;
}

.tab_body input::placeholder {
    color: #828282;
}

.tab_body input,
.tab_body select,
.tab_body textarea {
    font-size: 14px;
    padding-left: 22px;
    margin-bottom: 8px;
}

.checkout_container .tab_body .login_btn {
    background: #620002;
    color: white;
    width: 100%;
    padding: 6px 0 8px 0;
}

.checkout_container .tab_body .div_desc {
    margin-top: 37px;
}

.checkout_container .tab_body .div_desc p {
    text-align: center;
    font-size: 14px;
    color: #828282;
}

.checkout_container .table thead {
    background: #ecebeb;
    color: #828282;
}

.checkout_container .table thead th {
    font-size: 15px;
}

.checkout_container .table tbody td {
    font-size: 14px;
}

.checkout_container .table th,
.checkout_container .table td,
#order_container .table th,
#order_container .table td {
    border: none !important;
}

.checkout_container .login_with_social a {
    padding: 11px 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 1px;
    -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    cursor: pointer;
    font-size: 13px;
}

.checkout_container .login_with_social .facebook {
    background: #4267B2;
    color: white;
    margin-right: 10px;
}

.checkout_container .login_with_social i {
    padding-right: 8px;
    font-size: 17px;
}

.checkout_container .login_with_social .google i {
    color: #EA4335;
}

.checkout_container .login_with_social .google {
    color: #9a9a9a;
    background: white;
}

.checkout_container .tab_body .signup_btn {
    background: #cac7c7;
    color: #616060;
    width: 100%;
    padding: 6px 0 8px 0;
    margin-top: 33px;

}

.login_with_social .facebook {
    padding: 10px 16px;
    background: #4267B2;
    color: white;
    text-decoration: none;
}

.login_with_social .google {
    padding: 10px 16px;
    background: #4267B2;
    color: white;
    text-decoration: none;
}

.checkout_container .cust_btn1 {
    background: #7e2429;
    color: white;
}

/*End checkout Page */

#cart .cart-container,
#order_container {
    background: whitesmoke;
    padding: 16px 26px 15px 26px;
}

#cart-container .tab_heading,
#order_container .tab_heading,
#wishlist_container .tab_heading {
    background: #620002;
    color: white;
}

#cart-container .tab_body,
#order_container .tab_body,
#wishlist_container .tab_body {
    background: white;
}

#cart-container .tab_body .name,
#wishlist_container .tab_body .name {
    font-size: 18px;
    margin-bottom: 5px;
}

#cart-container .tab_body .remove_btn,
#wishlist_container .tab_body .remove_btn {
    background: #c39429;
    border: none;
    outline: none;
    font-size: 17px;
    font-size: 14px;
    color: white;
    border-radius: 2px;
    margin-top: 10px;
}

#cart-container .tab_body .quntity {
    font-size: 18px;
    font-weight: 600;
}

#cart-container .tab_body .price,
#wishlist_container .tab_body .price {
    color: #620002;
    font-size: 20px;
    font-size: 18px;
    font-weight: 600;
}

#cart-container .tab_body .final_price,
#wishlist_container .tab_body .final_price {
    font-size: 14px;
    color: grey;
    text-decoration: line-through;
    margin-left: 8px;
}

#cart-container .place_order_container {
    background: white;
    -webkit-box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.20);
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.20);
    padding: 14px 25px;
}

#cart-container .place_order_container .place_btn {
    background: #620002;
    color: white;
    border: none;
    outline: none;
    padding: 7px 19px;
    border-radius: 2px;
    font-size: 18px;
}

#cart-container .place_order_container .total {
    padding-top: 5px;
    font-size: 17px;
    font-weight: 600;
}

#cart #product-total {
    border-radius: 3px;
    margin-top: 6px;
    background: white;
}

#cart #product-total .title {
    font-size: 1.25rem;
    padding: 11px 10px 12px 10px;
    border-bottom: 1px solid #dedede;
    color: #620002;
}

#cart #product-total .body .main_1,
#cart #product-total .body .main_3,
#product-total .body .saving {
    padding: 11px 10px 12px 10px;
}

#product-total .body .main_2 {
    border-bottom: 1px dotted grey;
    padding: 11px 0px 12px 0px;
    margin-left: 10px;
    margin-right: 10px;
}

#product-total .body .main_3 {
    border-bottom: 1px solid #dedede;
}

#product-total .body .saving {
    color: #620002;
    font-size: 14px;
    font-weight: 600;
}

/*End cart Page */

#order_container .tab_body table {
    padding: 21px 24px 5px 24px;
}

#order_container .tab_body table thead {
    background: #f3f2f2;
}

#order_container .tab_body table tbody tr {
    border-bottom: 1px solid #e0e0e0;
}

#order_container .tab_body table tbody tr .view_details_btn {
    color: #620002;
}

#order_container .tab_body .total {
    padding: 21px 24px 5px 25px;
    font-weight: 600;
}

/*End order Page */
#wishlist_container {
    padding: 16px 26px 15px 26px;
    background: whitesmoke;
}

#wishlist_container .tab_body {
    padding: 21px 24px 21px 25px;
}

#wishlist_container .navigation_container,
#myaccount_container .navigation_container {
    background: white;
    margin-top: 9px;
}

#wishlist_container .navigation_container ul,
#myaccount_container .navigation_container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#wishlist_container .navigation_container ul li,
#myaccount_container .navigation_container ul li {
    border-bottom: 1px solid #e6e3e3;
}

#wishlist_container .navigation_container ul li a,
#myaccount_container .navigation_container ul li a {
    padding: 10px 24px;
    display: block;
    text-decoration: none;
    color: #620002;
    font-weight: 600;
}

#wishlist_container .navigation_container ul li.active,
#myaccount_container .navigation_container ul li.active {
    background: #620002;
}

#wishlist_container .navigation_container ul li.active a,
#myaccount_container .navigation_container ul li.active a {
    color: white;
}

#wishlist_container .navigation_container ul li a i,
#myaccount_container .navigation_container ul li a i {
    margin-right: 10px;
}

/*End wishlist Page */

#myaccount_container {
    background: whitesmoke;
    padding: 16px 26px 15px 26px;
}

#myaccount_container #savepbtn,
#myaccount_container #saveabtn {
    background: #7e2429;
    color: white;
    padding: 5px 23px;
}

#myaccount_container .address .span1 {
    font-weight: 600;
    display: inline-block;
    margin-right: 13px;
    font-size: 15px;
}

#myaccount_container .editdeletbtn {
    text-decoration: none !important;
    display: inline-block;
    margin-right: 7px;
    color: maroon;
}

/*End my Account Page */
#changepassword_container #changepass {
    background: #620002;
    color: white;
    display: block;
    width: 100%;
    margin-top: 36px;
}

#content {
    padding: 40px 0;
}

#content_container,
#changepassword_container .tab_body {
    padding: 16px 26px 15px 26px;
    background: white;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
}

#content_container h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 13px;
}

#content_container p {
    font-size: 15px;
}